# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea
.idea/

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
#/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

#dvc
.dvc/

#git
.git/

# models repositories
repositories/

# data
data/raw/
data/processed/

#weights
models/yolov7/best_weights/best_custom_00_01_52_to_00_01_58.pt
models/yolov7/best_weights/best_custom_00_02_45_to_00_03_10_cut.pt
models/yolov7/best_weights/best_custom_00_06_10_to_00_06_27.pt
models/yolov7/best_weights/best_custom_00_09_30_to_00_10_09.pt
models/yolov7/best_weights/best_custom_ch01_20200605115731.pt
